body {
     background-color: white;
}
table , th , td {
    border: 1px solid black ;
    border-collapse: collapse;
}
caption {
     color:blue;
     text-align: center;
}
.tr1{
    background-color: gray;

}

